<div class="bg-gray-900 text-white">
  <div class="min-h-screen flex flex-col max-w-screen-xl mx-auto">
    <header class="p-6 text-center">
      <h1
        class="text-4xl md:text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-purple-500"
      >
        DJ Gaspar
      </h1>
    </header>

    <main class="flex-grow p-6 flex flex-col">
      <section class="mb-8 md:mb-0 md:flex md:items-center">
        <img
          src="https://s1.elespanol.com/2021/08/17/treintayseis/vivir/musica/604951466_242833173_1706x960.jpg"
          alt="DJ Gaspar Profile"
          class="hidden md:block w-1/3 ml-4 rounded-lg shadow-lg"
        />

        <div class="md:w-2/3">
          <h2 class="text-2xl md:text-3xl font-bold mb-4">Biografía</h2>
          <p class="text-gray-300">
            Un ex-DJ apasionado con amor por la música electrónica,
            especialmente el techno, al que me dediqué principalmente durante 7
            años entre Valladolid y Zamora. Durante varios años estube
            mezclando, llevando energía a las pistas de baile.
          </p>
          <p class="text-gray-300">
            Mis sets son un viaje a través del techno, desde clásicos
            atemporales hasta las últimas vanguardias del sonido underground (de
            esos años). Ritmos hipnóticos, bajos profundos y atmósferas oscuras
            se entrelazan para crear una experiencia sonora que te llevará al
            límite de la pista de baile.
          </p>
          <h2 class="text-xl md:text-2xl font-bold mb-4 mt-8">
            Mi primera sesión
          </h2>
          <p class="text-gray-300">
            Mis primeros pasos en la escena de la música electrónica fueron una
            mezcla de nerviosismo y emoción pura. Recuerdo la primera vez que me
            puse detrás de los platos, con las manos temblando ligeramente
            mientras intentaba sincronizar los beats. A pesar de la
            inexperiencia, la energía del público y la magia de la música me
            atraparon por completo. Esa noche supe que había encontrado mi
            vocación.
          </p>
        </div>
      </section>

      <section class="w-full md:pl-4 pt-10">
        <div class="mb-8">
          <h2 class="text-2xl md:text-3xl font-bold mb-4 text-center">
            Mezclas Exclusivas
          </h2>
          <h3 class="text-l md:text-xl font-bold mb-8 text-center">
            Remezclas de Techno, House y TechnoHouse, llevando la música a
            nuevos territorios sonoros.
          </h3>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div>
              <h3 class="text-xl font-bold mb-2">Gaspar Vol. 1</h3>
              <p class="text-gray-300 mb-2">
                Un viaje a través del techno, tech-house y house, mostrando mi
                estilo en evolución
              </p>
              <a
                href="https://drive.google.com/file/d/1DgM6JoGKzjIwnHKM8la64lmnMrfwrR9x/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                Techno (2003)
              </a>
              <a
                href="https://drive.google.com/file/d/1N-h76TrNbnzYr5FEaOqhKM0oQnJ0oMaJ/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                TechnoHouse (2003)
              </a>
              <a
                href="https://drive.google.com/file/d/1Rl5Icc8C9_1JvFd5iVIHMIts5781xvYK/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block"
              >
                House (2003)
              </a>
            </div>

            <div>
              <h3 class="text-xl font-bold mb-2">Gaspar Vol. 2</h3>
              <p class="text-gray-300">
                Más profundo en el underground, explorando sonidos más oscuros y
                contundentes
              </p>
              <small class="text-gray-300 mb-2"
                >(Archivo .zip, requiere descarga y descompresión)</small
              >
              <a
                href="https://drive.google.com/file/d/1BlymnxLD6nXHrRKU3fkjIUXbD1HdoJzz/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                Techno (2004)
              </a>
              <a
                href="https://drive.google.com/file/d/1vvCa5rH_PoEZhrQ1y3Gez7sqxC89rlCe/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                TechnoHouse (2004)
              </a>
              <a
                href="https://drive.google.com/file/d/1NsDSQa2-B1A2tTJi2xjoqHUzN4FrdzLy/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block"
              >
                House (2004)
              </a>
            </div>

            <div>
              <h3 class="text-xl font-bold mb-2">Gaspar Vol. 3</h3>
              <p class="text-gray-300 mb-2">
                Refinamiento adicional de mi sonido, empujando límites y
                explorando nuevos territorios.
              </p>
              <a
                href="https://drive.google.com/file/d/1dv_WplHNkS94tkOslchcMbvLt_y-J8Wx/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                Techno (2005)
              </a>
              <a
                href="https://drive.google.com/file/d/1eBR4IIOM7FGzC9fXjizKrrG-DEf8RAzZ/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                TechnoHouse (2005)
              </a>
              <a
                href="https://drive.google.com/file/d/1IGGAlbKldKJ18K6uEnDifYxuf_YPyzSC/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block mb-2"
              >
                House (2005)
              </a>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-2">Primeros años</h3>
              <p class="text-gray-300 mb-2">
                El verano del 2000 marcó mi debut oficial como DJ. Sin acceso a
                vinilos ni equipos profesionales, tuve que improvisar. Un viejo
                ordenador se convirtió en mi herramienta principal, utilizando
                software básico para mezclar canciones descargadas de internet.
                A pesar de las limitaciones técnicas, la pasión y la creatividad
                superaron cualquier obstáculo. Aqui demostré que la verdadera
                esencia de un DJ reside en su capacidad para conectar con el
                público y crear una experiencia única, independientemente de los
                medios a su disposición.
              </p>
              <a
                href="https://drive.google.com/file/d/1lQfk6af7yM54WZ5T-k11tEOPjpoMXm7p/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block"
              >
                150 BPM (2000)
              </a>
            </div>
            <div>
              <h3 class="text-xl font-bold mb-2">Mi último trabajo</h3>
              <p class="text-gray-300 mb-2">
                El año 2007 marcó mi última incursión en la escena techno, una
                sesión que encapsuló años de experimentación y pasión por los
                sonidos más oscuros y contundentes. Esta mezcla representa la
                culminación de mi viaje en el techno, una exploración de ritmos
                hipnóticos, bajos profundos y atmósferas envolventes que te
                transportarán a la esencia misma de la pista de baile.
                Descárgala y revive la energía de aquellos momentos, una
                experiencia auditiva que sigue resonando con la misma fuerza que
                en su día.
              </p>
              <a
                href="https://drive.google.com/file/d/1UYa-5h21cPhyjFu-BuqL3Ya_Ad3e_7rt/view?usp=sharing"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center block"
              >
                Techno (Julio 2007)
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="w-full p-6 bg-gray-800 rounded-lg shadow-md mb-8">
        <div class="mb-8 md:mb-0 md:flex md:items-center">
          <div class="md:w-2/3">
            <h2 class="text-2xl md:text-3xl font-bold mb-4 text-center">
              ¿Tienes más sesiones de DJ Gaspar?
            </h2>
            <p class="text-gray-300 text-center mb-4">
              Si posees alguna sesión de DJ Gaspar que no esté listada aquí, ¡me
              encantaría incluirla en este proyecto! Ponte en contacto conmigo
              en
              <a
                href="mailto:mario1velasco@gmail.com"
                class="text-blue-500 hover:underline"
                >mario1velasco&#64;gmail.com</a
              >. ¡Ayúdame a expandir esta colección y compartir la música de DJ
              Gaspar con más personas!
            </p>
          </div>
          <img
            src="https://media-tunnel-dot-ht-evenses.ew.r.appspot.com/w:580,h:360,p:top,q:20/https://storage.googleapis.com/evenses/dev/act/media/Vinyl%20DJ%20(1).jpg"
            alt="DJ Gaspar Help"
            class="hidden md:block w-1/3 mr-4 rounded-lg shadow-lg"
          />
        </div>
      </section>
    </main>

    <footer class="bg-gray-800 p-6">
      <div class="flex flex-col md:flex-row justify-between">
        <div class="mb-4 md:mb-0">
          <h3 class="text-xl font-bold mb-2">Agradecimientos</h3>
          <ul class="list-none p-0 text-gray-300">
            <li>A Tito por esta idea</li>
          </ul>
        </div>

        <div>
          <h3 class="text-xl font-bold mb-2">Copyright</h3>
          <p class="text-gray-300">&copy; 2024 DJ Gaspar</p>
        </div>
      </div>
    </footer>
  </div>
</div>
